/* About Body Styling*/

.about-hero {
    text-align: center;
    margin-bottom: 15vh;
}

@media (max-width: 768px) {
    .about-hero {
        margin: 2rem auto;
    }
}

@media (min-width: 768px) {
    .about-blurb-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
}

@media (max-width: 768px) {
    .about-blurb-container {
        flex-direction: column;
        margin: 2rem auto;
    }
}
.abouttext {
    flex: 1;
    padding: 0 0rem 0 4rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .abouttext {
        padding: 6rem 5rem 0 5rem;
        text-align: left;
    }
}

.aboutimgfig {
    flex: 1;
    padding-right: 3rem;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 768px) {
    .aboutimgfig {
        flex: 1;
        padding: 3rem;
        justify-content: center;
    }
}

.aboutimg-img {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

.about-figcap {
    text-align: right;
    font-size: 0.75rem;
}

.abouttext h3 {
    margin: 0.5rem 0 0.5rem 0;
}

.abouttext > p {
    padding: 0.8rem 0 0.8rem 0;
}

/*CONTACT section styling*/

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    background-color: var(--tint);
    padding: 50px;
    margin: 0;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.contact-map-add {
    flex: 1;
}
.contact-form {
    flex: 1;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .contact-form {
        justify-content: center;
        align-self: center;
        width: 100%;
        margin: 0 auto;
    }
}

.contact-h2 {
    margin-top: 0;
}

.googlemap {
    max-width: 100%;
    max-height: auto;
    border-radius: 10%;
}

@media (max-width: 768px) {
    .googlemap {
        margin-top: 3rem;
    }
}

#contact-address-div > p {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

/* FORM Styling */

form {
    width: 100%;
    margin: 0 auto;
}

input[type='text'],
input[type='email'],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}
form input[type='submit'] {
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    color: var(--text-body);
    font-weight: bolder;
    background-color: var(--primary);
    border-radius: 5px;
    border: 1px solid #dbbe18;
}
