/* Header styling */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  margin: 0 auto;
  padding-top: 0.5rem;
  height: 4rem;
  width: auto;
}

.header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav ul {
  padding: 0;
}

.header-nav li {
  display: inline-block;
  margin: 0;
  width: auto;
  padding: 0 2rem 0 2rem;
}

.header-nav li a {
  text-decoration: none;
}

/* About Body Styling*/

.about-hero {
  text-align: center;
}

.about-text {
  justify-items: center;
  flex: 1;
  flex-basis: 50%;
}

.about-blurb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.aboutimg-img {
  flex: 1;
  flex-basis 50%;
  width: auto;
  height: auto;
  max-width: auto;
  max-height: 300px;
  border-radius: 10%;

}

.about-figcap {
  text-align: left;
}

.contact {
  display: flex;
  gap: 5%;
    background-color: var(--tint);
    padding: 50px;
}

.contact-map-add {
  flex-grow: 1;
}

.contact-map {
  flex: 1;
  flex-basis 50%;
  width: auto;
  height: auto;
  max-width: auto;
  max-height: 300px;
  border-radius: 10%;
}
.contact-form{
  flex-grow: 1;
}

.contact-address-div,p{
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
}

    form {
      width: 100%; 
      margin: 0 auto; 
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%; 
      padding: 0.5rem; 
      margin-bottom: 2rem; 
      box-sizing: border-box; 
    }
    input[type="submit"] {
      
      padding: 10px; 
      box-sizing: border-box; 
    }