@import url("index.css");


:root {
    --footer-background: #1D2830;
    --header-background: #FBFAFE;
    --text-body: #4e5a65;
    --text-heading: #35414b;
    --tint: #f6f3fc;
    --primary: #FFE135;
}

