section {
    margin: 20px 0px;
}

.credit {
    text-align: center;
}

/* Socials compartment */

.socials {
    text-align: center;
}

.socials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials-img {
    width: 80px;
    height: 26.11px;
}

.socials-img-fairtrade {
    width: 40px;
}

.socials-img-morrisons {
    width: 70px;
}

.socials-img-aldi {
    width: 40px;
}

/* Tabbed Images Compartment */
.tabimg {
    background-color: var(--tint);
    padding: 50px;
}

.tabimg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.tabimg-img-container {
    text-align: center;
}

.tabimg-img {
    max-height: 300px;
    border-radius: 10%;
}

.tab {
    padding: 5px 10px;
    width: 500px;
    margin: 10px;
    cursor: pointer;
}

.highlighted {
    border-left: 10px solid var(--primary);
    background-color: #e9e6f0c5;
}

.not-highlighted {
    border-top: 1px solid rgb(196, 192, 192);
}

/* Facts compartment */
.facts {
    text-align: center;
}

.facts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
    .fact {
        flex-basis: 33%;
    }
}

.fact-img {
    height: 50px;
}

/* Sign Up COmpartment */
.signup {
    background-color: var(--tint);
    padding: 50px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.signup-img {
    width: 600px;
    border-radius: 50px;
}

.signup-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    border: 1px solid #dbbe18;
}

.signup-btn:hover {
    cursor: pointer;
}

.signup-btn:active {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    border: 1px;
    margin: 5px;
}
