.credit {
    text-align: center;
    font-size: smaller;
}

/* Hero */
.index-title {
    text-align: center;
    margin-bottom: 7rem;
    justify-self: center;
}

.index-title > h1 {
    margin-bottom: 1rem;
}

.hero-img-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: -3rem 0 5rem 0;
}

.hero-img {
    max-width: 70%;
    max-height: auto;
    border-radius: 5rem;
    flex: 1;
}

/* Socials compartment */
.socials {
    text-align: center;
}

@media (min-width: 768px) {
    .socials-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 5rem 5rem 5rem;
        gap: 3rem;
    }
}
@media (max-width: 768px) {
    .socials-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 2rem 3rem 4rem 3rem;
        gap: 2rem;
    }

    .socials-img-coop,
    .socials-img-tesco,
    .socials-img-fairtrade,
    .socials-img-morrisons,
    .socials-img-aldi {
        max-width: 60%;
        height: auto;
    }
}

.socials-img-coop {
    width: 5rem;
    height: auto;
    flex: 1;
}

.socials-img-tesco {
    width: 7rem;
    height: auto;
    flex: 1;
}

.socials-img-fairtrade {
    width: 5rem;
    height: auto;
    flex: 1;
}

.socials-img-morrisons {
    width: 7rem;
    height: auto;
    flex: 1;
}

.socials-img-aldi {
    width: 5rem;
    height: auto;
    flex: 1;
}

/* Facts compartment */
.facts {
    text-align: center;
}

.facts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
    .fact {
        flex-basis: 33%;
    }
}

.fact-img {
    /* height: 50px; */
    max-width: 10%;
    max-height: auto;
}

/* Sign Up Compartment */
.signup {
    background-color: var(--tint);
    padding: 50px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.signup-text {
    flex: 1;
}

.signup-img-container {
    flex: 1;
}

.signup-img {
    max-width: 100%;
    max-height: auto;
    /* width: 600px; */
    border-radius: 50px;
}

.signup-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    border: 1px solid #dbbe18;
}

.signup-btn:hover {
    cursor: pointer;
}

.signup-btn:active {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    border: 1px;
    margin: 5px;
}

@media screen and (max-width: 1024px) {
    .signup-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Testimonies compartment */
.testimonies {
    text-align: center;
}

.testimonies-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.testimonies-person {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
}

.person-img {
    width: 100px;
    border-radius: 50%;
    margin: 1%;
}

.selected {
    border-top: 5px solid var(--primary);
    background-color: var(--tint);
}

/* Sign Off */
.signoff {
    text-align: center;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 3rem 5%;
    margin: 5rem auto;
    width: 80%;
}

.signoff > a {
    font-size: smaller;
    color: black;
}
