
:root{
    --product-box-width:300px;

}

body{
    margin-left: 10px;
    display:flex;
    flex-direction: column;

}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width:1280px;
}

.filter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter input{
    width:35vw;
}
.product img{

    height: var(--product-box-width);
    width: var(--product-box-width);
    padding:20px;
    border-radius:10%;
}

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;

}


.product-item{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction:column;
    padding:20px;
    align-items: center;
    max-width:min-content;
    border-radius: 10%;
}

.product-item:hover{
    background-image: url(images/bananabackgroundhover.jpg);
    .product-item-info{
        background-color: white;
    }
}

.product-item-description{
    color:gray;
    font-style: italic;
}

.product-item .checked{
    color:orange;
}

.fa-star{
    color:gray;
}

.product-item-info{
    display:block;
    flex-direction: row;
    width: var(--product-box-width);
    padding:10px;
    border-radius: 10%;
}

.product-item-info p{
    word-break: break-all;
    white-space: normal;
}

.product-showmore{
    display:flex;
    justify-content: center;
    padding-top: 30px;
}

.showmore-button{
    background-color: blue;
    width:30vw;
    height:5vw;
}

.showmore-button a{
    color:var(--text-body);
    text-decoration: none;
    font-size: large;
}
